<div>
<div class="align-center-flex">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h1> Yayy!! Order Confirmed</h1>
        <hr>
        <div class="align-center-flex">
          <div class="form-group">
            <a  style="background-color: #8BC34A;"class="fix btn btn-primary" [routerLink]="['/myorders']">Order History</a>
          </div>
          <div class="form-group">
            <a class="fix btn btn-info" [routerLink]="['/']" >Shop Again</a>
          </div>
        </div>
      </div>
    </div>
  </div>
